version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  backend:
    image: yashwagh30/mean-backend:latest
    container_name: backend
    ports:
      - '8080:8080'
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    image: yashwagh30/mean-frontend:latest
    container_name: frontend
    ports:
      - '8082:80'
    depends_on:
      - backend

volumes:
  mongo-data:
